@import "./colors";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
html, body {
    width: 100%;
    height: 100%;
}
body {
    padding: 0 5%;
    font-family: "Barlow", sans-serif;
    background-color: $lightcream;
}
.home {
    background-color: $lightcream;
}
header {
    height: 100vh;
    display: flex;
    flex-direction: column;
    nav {
    width: 100%;
    height: 12%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
   
    img {
        width: 85%;
    }
    div {
        display: flex;
        gap: 2.5rem;
        a {
            text-decoration: none;
            color: $gray;
            font-family: "Barlow", sans-serif;
            font-weight: 700;
            font-size: 1rem;
            opacity: .8;
        }
    }
    
}
.header {
    height: 88%;
    width: 100%;
    background-image: url(/public/assets/home/image-hero-coffeepress.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
    
    .content {
        display: flex;
        width: 50%;
        flex-direction: column;
        gap: 4rem;
        padding: 10% 5%;
        .text {
            display: flex;
            flex-direction: column;
            gap: 2.5rem;
            h1 {
                font-family: "Fraunces", sans-serif;
                font-size: 5rem;
                line-height: .8;
                color: $lightcream;

            }
            p {
                font-family: "Barlow", sans-serif;
                font-size: 1rem;
                color: $lightcream;
                opacity: .8;
                line-height: 1.8;
            }
        }

        a {
            text-align: center;
            width: 50%;
            background-color: $green;
            font-family: "Fraunces", sans-serif;
            font-weight: 700;
            color: $lightcream;
            font-size: 1.2rem;
            padding: 1rem;
            border-radius: 15px;
            cursor: pointer;
        }
    }
}
.header.about, .header.plan {
    height: 70%;
    width: 100%;
    background-image: url(/public/assets/about/desktop/image-hero-whitecup.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    border-radius: 15px;

    justify-content: center;
    .content {

      
        .text {
          
            h1 {

                font-size: 4rem;

            }
            p {
               width: 90%;
            }
        }

      
    }
}
.header.plan {
    background-image: url(/public/assets/plan/desktop/image-hero-blackcup.jpg);
}
}
footer {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: $blue;
    padding: 3% 5%;
    margin-top: 10%;
   
    nav {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
      
       
        img {
            width: 85%;
            opacity: 1;
        }
        div {
            display: flex;
            gap: 2.5rem;
            align-items: center;
            a {
                text-decoration: none;
                color: $gray;
                font-family: "Barlow", sans-serif;
                font-weight: 700;
                font-size: 1rem;
                opacity: .8;
            }
            a:first-child {
                opacity: 1;
            }
        }
        div:first-child {
            gap: 5rem;
            div {
                gap: 3rem;
            }
        }
        div:last-child {
            gap: 2rem;
            a {
                opacity: 1;
                cursor: pointer;
            }
        }
    }
}
#collection {
   
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    .header {
        padding-top: 8%;
        h2 {
            font-family: "Fraunces", sans-serif;
            font-size: 11rem;
            color: $gray;
            opacity: .8;
        }
    }
    .content {
        width: 76%;
        display: flex;
        gap: 1.5rem;
      
        div {
            width: 25%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1.5rem;
            margin-top: -8%;
            z-index: 2;
    
            img {
                width: 80%;
                margin-bottom: 10%;
            }
            h4 {
                font-family: "Fraunces", sans-serif;
                font-weight: 700;
                font-size: 1.3rem;
            }
            p{
                 color: $gray;
                 line-height: 1.5;
                 text-align: center;

            }
        }
    }
    
}
#collection.about {
    justify-content: center;
    .content {
        width: 90%;
        display: flex;
        gap: 1rem;
      section {
        width: 50%;
        display: flex;
        justify-content: center;
      }
      section:first-child {
        img {
            border-radius: 15px;
        }
      }
      section:last-child {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
        h2{
            font-family: "Fraunces", sans-serif;
            font-weight: 700;
            font-size: 2.3rem;
        }
        p {
            color: $gray;
            line-height: 1.7;
        }
               
      }
       
    }
}
#features {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
  padding: 5% 0;
    .header {
        height: 80%;
        border-radius: 15px;
        background-color: $blue;
        display: flex;
        justify-content: center;
        
        .text {
        text-align: center;
        padding-top: 5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
        color: $lightcream;
        width: 50%;
        h4 {
            font-family: "Fraunces", sans-serif;
            font-size: 3rem;
        }
        p {
            opacity: .7;
            line-height: 1.8;
            width: 90%;
        }
        }
    }
    .featuresList {
        position: absolute;
        bottom: 0;
        width: 85%;
        display: flex;
        gap: 2rem;
        div {
        
           border-radius: 15px;
            padding-bottom: 3rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            background-color: $green;
            width: 33.3%;
      
            img {
                padding: 3rem 0;
            }
            h5 {
                font-family: "Fraunces", sans-serif;
                font-size: 1.7rem;
                color: $lightcream;
                padding-bottom: 2rem;
            }
            p {
                color: $lightcream;
                opacity: .8;
                width: 70%;
                line-height: 1.8;
            }
        }
    }
}
#features.about {
   
    .header {
    section {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
        
        .text {
            padding-top: 0;
            padding: 0 8%;
            align-items: flex-start;
            text-align: left;
        h4 {
            font-size: 2.2rem;
        }
        p {
           width: 100%;
        }
        }
        section:last-child {
            img {
                margin-top: -25%;
                border-radius: 15px;
            }
        }
    }
    
}
#planDetails {
    
    display: flex;
    flex-direction: column;
  align-items: center;
   padding: 5rem 0;
   gap: 5rem;
    .content {
        height: 100vh;
    display: flex;
    flex-direction: column;
   
    width: 100%;
    

    .middle {
        gap: 3.5rem;
        height: 80%;
        display: flex;
        flex-direction: column;
        h5 {
            color: $gray;
            font-family: "Fraunces", sans-serif;
            font-weight: 700;
            font-size: 1.5rem;
        }
        .line {
            min-height: 2px;
            background-color: $peach;
            width: 57%;
            position: relative;
         
            .circle {
                width: 2px;
                height: 2px;
                border: 1px $green solid;
                border-radius: 50%;
                padding: 1rem 1rem;
                position: absolute;
                left: 0;
                bottom: 0;
                background-color: $lightcream;
                transform: translateY(50%);
               &:nth-child(1) {
                left: 0;
                bottom: 0;
               }
               &:nth-child(2) {
                left: 50%;
                bottom: 0;
               }
               &:nth-child(3) {
                left: 100%;
                bottom: 0;
               }
            }
        
        }
        .stages {
            display: flex;
            width: 80%;
            gap: 5rem;
            div {
                width: 33.3%;
                display: flex;
                flex-direction: column;
                gap: 2rem;
                .number {
                    font-family: "Fraunces", sans-serif;
                    font-weight: 700;
                    color: $peach;
                    font-size: 5rem;
                }
                h4 {
                    font-family: "Fraunces", sans-serif;
                    font-size: 1.8rem;
                    word-wrap: break-word;
                    width: 60%;
                }
                p{
                    color: $gray;
                    width: 90%;
                    line-height: 1.5;
                }
            }
        }
        a {
            text-align: center;
            width: 20%;
            background-color: $green;
            font-family: "Fraunces", sans-serif;
            font-weight: 700;
            color: $lightcream;
            font-size: 1.2rem;
            padding: 1rem;
            border-radius: 8px;
            cursor: pointer;
        }
    }
  
    }
    footer {
        width: 100%;
        display: flex;
        align-items: center;
        background-color: $blue;
        padding: 3% 5%;
        nav {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
          
           
            img {
                width: 85%;
                opacity: 1;
            }
            div {
                display: flex;
                gap: 2.5rem;
                align-items: center;
                a {
                    text-decoration: none;
                    color: $gray;
                    font-family: "Barlow", sans-serif;
                    font-weight: 700;
                    font-size: 1rem;
                    opacity: .8;
                }
                a:first-child {
                    opacity: 1;
                }
            }
            div:first-child {
                gap: 5rem;
                div {
                    gap: 3rem;
                }
            }
            div:last-child {
                gap: 2rem;
                a {
                    opacity: 1;
                    cursor: pointer;
                }
            }
        }
    }
}
#planDetails.about {
    padding: 0;

 padding-bottom: 5rem;
gap: 0;
    .content {
        justify-content: center;
    .middle {
        padding-left: 5%;
        h5 {
           font-size: 1.3rem
        }
       
        .stages {
          align-items: center;
            div {
                gap: 2rem;
                .imageContainer {
                    display: flex;
                    align-items: flex-end;
                    width: 20%;
                    margin-bottom: 8%;
                }
               
                h4 {
                   width: 100%;
                }
               p {
                width: 100%;
                span {
                    display: block;
                }
               }
            }
        }
       
    }
  
    }
    footer {
        width: 100%;
        display: flex;
        align-items: center;
        background-color: $blue;
        padding: 3% 5%;
        nav {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
          
           
            img {
                width: 85%;
                opacity: 1;
            }
            div {
                display: flex;
                gap: 2.5rem;
                align-items: center;
                a {
                    text-decoration: none;
                    color: $gray;
                    font-family: "Barlow", sans-serif;
                    font-weight: 700;
                    font-size: 1rem;
                    opacity: .8;
                }
                a:first-child {
                    opacity: 1;
                }
            }
            div:first-child {
                gap: 5rem;
                div {
                    gap: 3rem;
                }
            }
            div:last-child {
                gap: 2rem;
                a {
                    opacity: 1;
                    cursor: pointer;
                }
            }
        }
    }
}
#planDetails.plan {
 
    .content {
        background-color: $blue;
        border-radius: 15px;
        align-items: center;
        justify-content: center;
        .middle {
            height: min-content;
            padding-left: 8%;
            .line {
                margin-bottom: 2%;
                .circle {
                    background-color: transparent;
                    &:nth-child(1) {
                        left: -15px;
                        bottom: 0;
                       }
                       &:nth-child(2) {
                        left: 50%;
                        bottom: 0;
                       }
                       &:nth-child(3) {
                        left: 97.5%;
                        bottom: 0;
                       }
                }
            }
            .stages {
                h4 {
                    color: white;
                }
                p {
                    opacity: .8;
                    color: $lightcream;
                }
            }
        }
    }
    
}
#createPlan {
    height: min-content;
    padding: 0 5%;
    display: flex;
    align-items: flex-start;
    gap: 10%;
    .pagination {
        width: 25%;
        li {
            border-bottom: 1px $gray solid;
            list-style-type: none;
            display: flex;
            gap: 2rem;
            font-size: 1.7rem;
            color: $gray;
            font-weight: 700;
            padding: 1.5rem 0;
            cursor: pointer;
            span {
                font-family: "Fraunces", sans-serif;
                
            }
        }
    }
    .optionsContainer {
        width: 60%;
        display: flex;
        flex-direction: column;
        gap: 3rem;
        .option {
            display: flex;
            flex-direction: column;
            gap: 2rem;
            button {
                display: flex;
                outline: none;
                border: none;
                padding: 1.5rem 0;
                width: 100%;
                justify-content: space-between;
                background-color: transparent;
                align-items: center;
                cursor: pointer;
                h3 {
                    font-family: "Fraunces", sans-serif;
                    font-weight: 700;
                    font-size: 2.5rem;
                    color: $gray;
                }
            }
            .options {
                display: flex;
              gap: 1.5rem;
              width: 100%;
             
                input {
                    position: fixed;
                    opacity: 0;
                    pointer-events: none;
                   
                }
                input:checked + label{
                    background-color: $green;
                color: white;
                span {
                    color: white;
                }
                }
                label {
                    cursor: pointer;
                    border-radius: 8px;
                    padding: 2.5rem 1.5rem;
                    padding-bottom: 5rem;
                    background-color: #F4F1EB;
                    font-family: "Fraunces", sans-serif;
                    font-weight: 700;
                    display: flex;
                    flex-direction: column;
                    gap: 1.5rem;
                    font-size: 1.3rem;
                    width: 33.3%;
                 span {
                    display: block;
                    font-family: "Barlow", sans-serif;
                    color: $gray;
                    font-weight: 400;
                    line-height: 1.5;
                    font-size: 1rem;
                 }
                 &:hover {
                    background-color: $green;
                    color: white;
                    span {
                        color: white;
                    }
                 }
                
                }
            }
        }
        .result {
            background-color: $blue;
            display: flex;
            flex-direction: column;
            padding: 2rem 4rem;
            gap: 1rem;
            span {
                color: $gray;
                opacity: .8;
            }
            q {
                font-family: "Fraunces", sans-serif;
                color: white;
                font-weight: 700;
                font-size: 1.5rem;
                
            }
        }
        a {
            text-align: center;
            width: 30%;
            background-color: $green;
            font-family: "Fraunces", sans-serif;
            font-weight: 700;
            color: $lightcream;
            font-size: 1.2rem;
            padding: 1rem;
            border-radius: 15px;
            cursor: pointer;
            align-self: flex-end;
        }
    }
}
@media (max-width: 1000px) {
   
   }
