* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

[hidden] {
  display: none !important;
}

html, body {
  width: 100%;
  min-height: 100%;
  padding-bottom: 5rem;
}

body {
  padding: 0 5%;
  font-family: "Barlow", sans-serif;
  background-color: hsl(43deg, 78%, 98%);
}

.home {
  background-color: hsl(43deg, 78%, 98%);
}

header {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
header nav {
  width: 100%;
  height: 14%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav img {
  width: 85%;
}
header nav div {
  display: flex;
  gap: 2.5rem;
}
header nav div a {
  text-decoration: none;
  color: black;
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  opacity: 0.8;
}
header nav div a:hover {
  color: hsl(215deg, 5%, 54%);
}
header .header {
  height: 72%;
  width: 100%;
  background-image: url(/assets/home/image-hero-coffeepress.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
}
header .header .content {
  display: flex;
  width: 50%;
  flex-direction: column;
  gap: 4rem;
  padding: 0 5%;
  justify-content: center;
  height: 100%;
}
header .header .content .text {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
header .header .content .text h1 {
  font-family: "Fraunces", sans-serif;
  font-size: 5rem;
  line-height: 0.8;
  color: hsl(43deg, 78%, 98%);
}
header .header .content .text p {
  font-family: "Barlow", sans-serif;
  font-size: 1rem;
  color: hsl(43deg, 78%, 98%);
  opacity: 0.8;
  line-height: 1.8;
  width: 80%;
}
header .header .content a {
  text-align: center;
  width: 40%;
  background-color: hsl(179deg, 81%, 29%);
  font-family: "Fraunces", sans-serif;
  font-weight: 700;
  color: hsl(43deg, 78%, 98%);
  font-size: 1.1rem;
  padding: 1rem;
  border-radius: 8px;
  text-decoration: none;
  cursor: pointer;
}
header .header .content a:hover {
  background-color: #78d3d1;
}
header .header.about, header .header.plan {
  height: 72%;
  width: 100%;
  background-image: url(/assets/about/desktop/image-hero-whitecup.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  border-radius: 15px;
  justify-content: center;
}
header .header.about .content .text h1, header .header.plan .content .text h1 {
  font-size: 5rem;
}
header .header.about .content .text p, header .header.plan .content .text p {
  width: 75%;
}
header .header.about .content .text h1 {
  font-size: 2.5rem;
}
header .header.about .content .text p {
  width: 85%;
}
header .header.plan {
  background-image: url(/assets/plan/desktop/image-hero-blackcup.jpg);
}

footer {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: hsl(215deg, 19%, 25%);
  padding: 3% 5%;
  margin-top: 10%;
}
footer nav {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer nav img {
  width: 85%;
  opacity: 1;
}
footer nav div {
  display: flex;
  gap: 2.5rem;
  align-items: center;
}
footer nav div a {
  text-decoration: none;
  color: hsl(215deg, 5%, 54%);
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  opacity: 0.8;
}
footer nav div a:hover {
  opacity: 1;
}
footer nav div a:first-child {
  opacity: 1;
}
footer nav div:first-child {
  gap: 5rem;
}
footer nav div:first-child div {
  gap: 3rem;
}
footer nav div:last-child {
  gap: 2rem;
}
footer nav div:last-child a {
  opacity: 1;
  cursor: pointer;
}
footer nav div:last-child a:hover {
  color: white;
}

#collection {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#collection .header {
  padding-top: 8%;
}
#collection .header h2 {
  font-family: "Fraunces", sans-serif;
  font-size: 11rem;
  color: hsl(215deg, 5%, 54%);
  opacity: 0.8;
}
#collection .content {
  width: 76%;
  display: flex;
  gap: 1.5rem;
}
#collection .content div {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  margin-top: -8%;
  z-index: 2;
}
#collection .content div img {
  width: 80%;
  margin-bottom: 10%;
}
#collection .content div h4 {
  font-family: "Fraunces", sans-serif;
  font-weight: 700;
  font-size: 1.3rem;
}
#collection .content div p {
  color: hsl(215deg, 5%, 54%);
  line-height: 1.5;
  text-align: center;
}

#collection.about {
  justify-content: center;
}
#collection.about .content {
  width: 90%;
  display: flex;
  gap: 1rem;
}
#collection.about .content section {
  width: 50%;
  display: flex;
  justify-content: center;
}
#collection.about .content section:first-child img {
  border-radius: 15px;
}
#collection.about .content section:last-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}
#collection.about .content section:last-child h2 {
  font-family: "Fraunces", sans-serif;
  font-weight: 700;
  font-size: 2.3rem;
}
#collection.about .content section:last-child p {
  color: hsl(215deg, 5%, 54%);
  line-height: 1.7;
}

#features {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  padding: 5% 0;
}
#features .header {
  height: 80%;
  border-radius: 15px;
  background-color: hsl(215deg, 19%, 25%);
  display: flex;
  justify-content: center;
}
#features .header .text {
  text-align: center;
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  color: hsl(43deg, 78%, 98%);
  width: 50%;
}
#features .header .text h4 {
  font-family: "Fraunces", sans-serif;
  font-size: 3rem;
}
#features .header .text p {
  opacity: 0.7;
  line-height: 1.8;
  width: 80%;
}
#features .featuresList {
  position: absolute;
  bottom: 0;
  width: 85%;
  display: flex;
  gap: 2rem;
}
#features .featuresList div {
  border-radius: 15px;
  padding-bottom: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: hsl(179deg, 81%, 29%);
  width: 33.3%;
}
#features .featuresList div img {
  padding: 3rem 0;
}
#features .featuresList div h5 {
  font-family: "Fraunces", sans-serif;
  font-size: 1.7rem;
  color: hsl(43deg, 78%, 98%);
  padding-bottom: 2rem;
}
#features .featuresList div p {
  color: hsl(43deg, 78%, 98%);
  opacity: 0.8;
  width: 70%;
  line-height: 1.8;
}

#features.about .header section {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#features.about .header .text {
  padding-top: 0;
  padding: 0 8%;
  align-items: flex-start;
  text-align: left;
}
#features.about .header .text h4 {
  font-size: 2.2rem;
}
#features.about .header .text p {
  width: 100%;
}
#features.about .header section:last-child img {
  margin-top: -25%;
  border-radius: 15px;
}

#planDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem 0;
  gap: 5rem;
}
#planDetails .content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
}
#planDetails .content .middle {
  gap: 3.5rem;
  height: 80%;
  display: flex;
  flex-direction: column;
}
#planDetails .content .middle h5 {
  color: hsl(215deg, 5%, 54%);
  font-family: "Fraunces", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
}
#planDetails .content .middle .line {
  min-height: 2px;
  background-color: hsl(25deg, 94%, 86%);
  width: 57%;
  position: relative;
}
#planDetails .content .middle .line .circle {
  width: 2px;
  height: 2px;
  border: 1px hsl(179deg, 81%, 29%) solid;
  border-radius: 50%;
  padding: 1rem 1rem;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: hsl(43deg, 78%, 98%);
  transform: translateY(50%);
}
#planDetails .content .middle .line .circle:nth-child(1) {
  left: 0;
  bottom: 0;
}
#planDetails .content .middle .line .circle:nth-child(2) {
  left: 50%;
  bottom: 0;
}
#planDetails .content .middle .line .circle:nth-child(3) {
  left: 100%;
  bottom: 0;
}
#planDetails .content .middle .stages {
  display: flex;
  width: 80%;
  gap: 5rem;
}
#planDetails .content .middle .stages div {
  width: 33.3%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
#planDetails .content .middle .stages div .number {
  font-family: "Fraunces", sans-serif;
  font-weight: 700;
  color: hsl(25deg, 94%, 86%);
  font-size: 5rem;
}
#planDetails .content .middle .stages div h4 {
  font-family: "Fraunces", sans-serif;
  font-size: 1.8rem;
  word-wrap: break-word;
  width: 60%;
}
#planDetails .content .middle .stages div p {
  color: hsl(215deg, 5%, 54%);
  width: 90%;
  line-height: 1.5;
}
#planDetails .content .middle a {
  text-align: center;
  width: 20%;
  background-color: hsl(179deg, 81%, 29%);
  font-family: "Fraunces", sans-serif;
  font-weight: 700;
  color: hsl(43deg, 78%, 98%);
  font-size: 1.2rem;
  padding: 1rem;
  border-radius: 8px;
  cursor: pointer;
}
#planDetails .content .middle a:hover {
  background-color: #78d3d1;
}
#planDetails footer {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: hsl(215deg, 19%, 25%);
  padding: 3% 5%;
}
#planDetails footer nav {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#planDetails footer nav img {
  width: 85%;
  opacity: 1;
}
#planDetails footer nav div {
  display: flex;
  gap: 2.5rem;
  align-items: center;
}
#planDetails footer nav div a {
  text-decoration: none;
  color: hsl(215deg, 5%, 54%);
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  opacity: 0.8;
}
#planDetails footer nav div a:hover {
  opacity: 1;
}
#planDetails footer nav div a:first-child {
  opacity: 1;
}
#planDetails footer nav div:first-child {
  gap: 5rem;
}
#planDetails footer nav div:first-child div {
  gap: 3rem;
}
#planDetails footer nav div:last-child {
  gap: 2rem;
}
#planDetails footer nav div:last-child a {
  opacity: 1;
  cursor: pointer;
}
#planDetails footer nav div:last-child a:hover {
  color: white;
}

#planDetails.about {
  padding: 0;
  padding-bottom: 5rem;
  gap: 0;
}
#planDetails.about .content {
  justify-content: center;
}
#planDetails.about .content .middle {
  padding-left: 5%;
}
#planDetails.about .content .middle h5 {
  font-size: 1.3rem;
}
#planDetails.about .content .middle .stages {
  align-items: center;
}
#planDetails.about .content .middle .stages div {
  gap: 2rem;
}
#planDetails.about .content .middle .stages div .imageContainer {
  display: flex;
  align-items: flex-end;
  width: 20%;
  margin-bottom: 8%;
}
#planDetails.about .content .middle .stages div h4 {
  width: 100%;
}
#planDetails.about .content .middle .stages div p {
  width: 100%;
}
#planDetails.about .content .middle .stages div p span {
  display: block;
}
#planDetails.about footer {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: hsl(215deg, 19%, 25%);
  padding: 3% 5%;
}
#planDetails.about footer nav {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#planDetails.about footer nav img {
  width: 85%;
  opacity: 1;
}
#planDetails.about footer nav div {
  display: flex;
  gap: 2.5rem;
  align-items: center;
}
#planDetails.about footer nav div a {
  text-decoration: none;
  color: hsl(215deg, 5%, 54%);
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  opacity: 0.8;
}
#planDetails.about footer nav div a:hover {
  opacity: 1;
}
#planDetails.about footer nav div a:first-child {
  opacity: 1;
}
#planDetails.about footer nav div:first-child {
  gap: 5rem;
}
#planDetails.about footer nav div:first-child div {
  gap: 3rem;
}
#planDetails.about footer nav div:last-child {
  gap: 2rem;
}
#planDetails.about footer nav div:last-child a {
  opacity: 1;
  cursor: pointer;
}
#planDetails.about footer nav div:last-child a:hover {
  color: white;
}

#planDetails.plan .content {
  background-color: hsl(215deg, 19%, 25%);
  border-radius: 15px;
  align-items: center;
  justify-content: center;
}
#planDetails.plan .content .middle {
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  padding-left: 8%;
}
#planDetails.plan .content .middle .line {
  margin-bottom: 2%;
}
#planDetails.plan .content .middle .line .circle {
  background-color: transparent;
}
#planDetails.plan .content .middle .line .circle:nth-child(1) {
  left: -15px;
  bottom: 0;
}
#planDetails.plan .content .middle .line .circle:nth-child(2) {
  left: 50%;
  bottom: 0;
}
#planDetails.plan .content .middle .line .circle:nth-child(3) {
  left: 97.5%;
  bottom: 0;
}
#planDetails.plan .content .middle .stages h4 {
  color: white;
}
#planDetails.plan .content .middle .stages p {
  opacity: 0.8;
  color: hsl(43deg, 78%, 98%);
}

#create {
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  padding: 0 5%;
  display: flex;
  align-items: flex-start;
  gap: 10%;
}
#create .pagination {
  width: 25%;
}
#create .pagination li {
  border-bottom: 1px hsl(215deg, 5%, 54%) solid;
  list-style-type: none;
}
#create .pagination li a {
  display: flex;
  text-decoration: none;
  gap: 2rem;
  font-size: 1.7rem;
  color: hsl(215deg, 5%, 54%);
  font-weight: 700;
  padding: 1.5rem 0;
  cursor: pointer;
  font-family: "Fraunces", sans-serif;
  opacity: 0.8;
}
#create .pagination li a span:first-child {
  opacity: 0.5;
}
#create .pagination li a:hover {
  opacity: 1;
}
#create .pagination li a:hover span:first-child {
  color: hsl(215deg, 5%, 54%);
  opacity: 0.8;
}
#create .pagination li a.chosen {
  color: black;
}
#create .optionsContainer {
  width: 60%;
}
#create .optionsContainer form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#create .optionsContainer form .option {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
#create .optionsContainer form .option button {
  display: flex;
  outline: none;
  border: none;
  padding: 1.5rem 0;
  width: 100%;
  justify-content: space-between;
  background-color: transparent;
  align-items: center;
  cursor: pointer;
}
#create .optionsContainer form .option button h3 {
  font-family: "Fraunces", sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  color: hsl(215deg, 5%, 54%);
}
#create .optionsContainer form .option button img {
  transition: transform 0.1s ease-in-out;
}
#create .optionsContainer form .option button img.clicked {
  transform: rotate(-180deg);
  transition: transform 0.1s ease-in-out;
}
#create .optionsContainer form .option .options {
  display: flex;
  gap: 1.5rem;
  width: 100%;
}
#create .optionsContainer form .option .options input {
  position: fixed;
  opacity: 0;
  pointer-events: none;
}
#create .optionsContainer form .option .options input:checked + label {
  background-color: hsl(179deg, 81%, 29%);
  color: white;
}
#create .optionsContainer form .option .options input:checked + label span {
  color: white;
}
#create .optionsContainer form .option .options label {
  cursor: pointer;
  border-radius: 8px;
  padding: 2.5rem 1.5rem;
  padding-bottom: 5rem;
  background-color: #F4F1EB;
  font-family: "Fraunces", sans-serif;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  font-size: 1.3rem;
  width: 33.3%;
}
#create .optionsContainer form .option .options label span {
  display: block;
  font-family: "Barlow", sans-serif;
  color: hsl(215deg, 5%, 54%);
  font-weight: 400;
  line-height: 1.5;
  font-size: 1rem;
}
#create .optionsContainer form .option .options label:hover {
  background-color: hsl(25deg, 94%, 86%);
}
#create .optionsContainer form .result {
  background-color: hsl(215deg, 19%, 25%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 3rem;
  gap: 1rem;
  margin-top: 4rem;
  line-height: 1.5;
}
#create .optionsContainer form .result span {
  color: hsl(215deg, 5%, 54%);
  opacity: 0.8;
}
#create .optionsContainer form .result q {
  font-family: "Fraunces", sans-serif;
  color: white;
  font-weight: 700;
  font-size: 1.5rem;
}
#create .optionsContainer form .result q span {
  color: hsl(179deg, 81%, 29%);
  opacity: 1;
}
#create .optionsContainer form #create_plan_result {
  text-align: center;
  width: 30%;
  background-color: hsl(179deg, 81%, 29%);
  font-family: "Fraunces", sans-serif;
  font-weight: 700;
  color: hsl(43deg, 78%, 98%);
  font-size: 1.2rem;
  padding: 1rem;
  border-radius: 15px;
  margin-top: 2rem;
  border: none;
  cursor: pointer;
  align-self: flex-end;
}
#create .optionsContainer form #create_plan_result:hover {
  background-color: #78d3d1;
}
#create .optionsContainer form #create_plan_result:disabled {
  background-color: hsl(215deg, 5%, 54%);
  color: white;
}

#resultsModal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
}
#resultsModal .modal {
  z-index: 10;
  width: 33%;
  background-color: wheat;
  border-radius: 15px;
}
#resultsModal .modal .header {
  background-color: hsl(215deg, 19%, 25%);
  border-radius: 15px 15px 0 0;
  font-size: 2.1rem;
  font-family: "Fraunces", sans-serif;
  font-weight: 700;
  color: white;
  padding: 2rem 0;
}
#resultsModal .modal .header h4 {
  padding: 0 3rem;
}
#resultsModal .modal .content {
  padding: 3rem 3rem;
  background-color: hsl(43deg, 78%, 98%);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#resultsModal .modal .content q {
  font-family: "Fraunces", sans-serif;
  color: hsl(215deg, 5%, 54%);
  font-weight: 700;
  font-size: 1.5rem;
}
#resultsModal .modal .content q span {
  color: hsl(179deg, 81%, 29%);
  opacity: 1;
}
#resultsModal .modal .content p {
  color: hsl(215deg, 5%, 54%);
  line-height: 1.5;
}
#resultsModal .modal .content .checkout {
  display: flex;
  align-items: center;
  margin-top: 2rem;
}
#resultsModal .modal .content .checkout .price {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-family: "Fraunces", sans-serif;
  color: black;
  font-size: 1.5rem;
  font-weight: 700;
  width: 50%;
}
#resultsModal .modal .content .checkout .price #frequencyDelivery {
  font-size: 1.4rem;
  color: hsl(179deg, 81%, 29%);
}
#resultsModal .modal .content .checkout a {
  text-align: center;
  width: 50%;
  background-color: hsl(179deg, 81%, 29%);
  font-family: "Fraunces", sans-serif;
  font-weight: 700;
  color: hsl(43deg, 78%, 98%);
  font-size: 1.1rem;
  padding: 1rem;
  border-radius: 8px;
  text-decoration: none;
  cursor: pointer;
}
#resultsModal .modal .content .checkout a:hover {
  background-color: #78d3d1;
}

#resultsModal.opened {
  display: flex;
}/*# sourceMappingURL=style.css.map */